<%= render 'shared/header' %>

	
<% if signed_in? %>
<div id="container" style="margin: 0 auto;margin-top:70px;left:10px;margin-bottom:200px;">
   <%= render 'shared/feed' %>
</div>
<% end %>








<script type="text/javascript">
$(window).load(function(){
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
		isFitWidth: true,
    itemSelector : '.item',
    columnWidth : 240
  });
});
});
</script>