<%= render 'shared/header' %>

	
<% if signed_in? %>
<div id="container" style="margin-right:240px;left:1%;display:block;">
   <%= render 'shared/feed' %>
</div>

<aside style="position:absolute;">
   <%= render 'shared/feedq' %>
</aside>
<% end %>








<script type="text/javascript">
$(function(){
  $('#container').masonry({

    itemSelector : '.item',
    columnWidth : 240
  });
});

</script>