<%= render 'shared/header' %>

	
<div id="container" style="margin-right:240px;margin-left:1%;display:block;">
   <%= render Micropost.tagged_with(["gossip"], :any => true)  %>
</div>

<aside style="position:absolute;">
   <%= render Micropost.tagged_with(["gossip"], :any => true).where(kyahai: "3")  %>
</aside>