<%= render 'shared/header' %>


	



<% tag_cloud(@tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	
<%= link_to tagged_url(:tag => tag.name) do %>
<div class="tag" style="display:block;background-color:white;position:relative;"><%= tag.name %></div>
<% end %>

<% end %>
