






<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <span><%= render Micropost.tagged_with(["health", "beauty"], :any => true)  %></span>
    </div>
    <div class="span2">
     <span><%= render Micropost.tagged_with(["health", "beauty"], :any => true)  %></span>
    </div>
  </div>
</div>