<% if signed_in? %>

<%= render 'shared/header' %>
<div><%= render 'shared/trendusers' %></div>

	
<div id="container" style="margin: 0 auto;margin-top:490px;left:10px;margin-bottom:200px;">
   <%= render Micropost.all  %>
</div>

<% else %>



<div style="margin: 0px auto;width:980px;">
	
	
	
	
<img style="position:absolute;top:0px;left:0px;margin: 0px auto;width:100%;" src="/assets/femynyn.png"/>

	<bar data-toggle="modal" href="#entermodal" style="position:fixed;left:0px;bottom:0px;width:100%;height:40px;">
		<h1 style="margin-top:2px;font-size:22px;color:grey">V i l a j i o</h1>
	</bar>



</div>

<% end %>








<script type="text/javascript">
$(window).load(function(){
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
			isFitWidth: true,
    itemSelector : '.item',
    columnWidth : 240
  });
});
});
</script>








