<tbar data-toggle="modal" href="#year" style="position:absolute;margin-left:0px;width:200px;height:150px;color:#cfcfcf;font-size:18px;"><p><%= current_user.schoolyear %></p></tbar>
<tbar data-toggle="modal" href="#video" style="position:absolute;margin-left:200px;width:200px;height:150px;color:#cfcfcf;font-size:18px;"><p>Slough</p></tbar>


<tbar data-toggle="modal" href="#school" style="position:absolute;margin-left:400px;width:200px;height:150px;color:#cfcfcf;font-size:18px;"><p><%= current_user.school %></p></tbar>



