<%= render 'shared/header' %>

<div id="container" style="margin: 0 auto;left:10px;margin-bottom:200px;">
	<%= render Micropost.tagged_with(params[:tag])  %>
</div>


<script type="text/javascript">
$(window).load(function(){
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
				isFitWidth: true,
    itemSelector : '.item',
    columnWidth : 240
  });
});
});
</script>