<%=  link_to(vote_up_micropost_path(@micropost.id), :remote => true) do |f| %> 
<barr style="position:absolute;margin-left:158px;width:50px;height:28px;text-align:center;"><h3>+</h3></barr>	
<% end %>